<!DOCTYPE html>
<html>
<head>
  <title>Car Controller</title>
  <meta http-equiv="Con">
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
  <div id='status'>Stop</div>
  <div class='ctrl'>
    <div>
      <button onclick="action('left')">Left</button>
    </div>
    <div>
      <div>
        <button onclick="action('forward')">Forward</button>
      </div>
      <div>
        <button onclick="action('stop')">Stop</button>
      </div>
      <div>
        <button onclick="action('backward')">Backward</button>
      </div>
    </div>
    <div>
      <button onclick="action('right')">Right</button>
    </div>
  </div>
  <script type="text/javascript" src='static/app.js'></script>
</body>
</html>
